.row{
  width:1170px;
  max-width: 100%;
  margin:0 auto;
  display:flex;
  background-color:rgb(255, 255, 255);
 
  
}
.col-xs-1{
  flex-basis:calc(100%/12);
  background-color:cyan;
  text-align:center;
  line-height:40px;border: 1px solid white;height:40px;
}
.col-xs-2{
  flex-basis:calc((100%/12)*2);
  background-color:cyan;
  text-align:center;line-height:40px;border: 1px solid white;height:40px;
}
.col-xs-3{
  flex-basis:calc((100%/12)*3);
  background-color:cyan;
  text-align:center;line-height:40px;border: 1px solid white;height:40px;
}
.col-xs-4{
  flex-basis:calc((100%/12)*4);
  background-color:cyan;
  text-align:center;line-height:40px;border: 1px solid white;height:40px;
}
.col-xs-5{
  flex-basis:calc((100%/12)*5);
  background-color:cyan;
  text-align:center;line-height:40px;border: 1px solid white;height:40px;
}
.col-xs-6{
  flex-basis:calc((100%/12)*6);
  background-color:cyan;
  text-align:center;line-height:40px;border: 1px solid white;height:40px;
}
.col-xs-7{
  flex-basis:calc((100%/12)*7);
  background-color:cyan;
  text-align:center;line-height:40px;border: 1px solid white;height:40px;
}
.col-xs-8{
  flex-basis:calc((100%/12)*8);
  background-color:cyan;
  text-align:center;line-height:40px;border: 1px solid white;height:40px;
}
.col-xs-9{
  flex-basis:calc((100%/12)*9);
  background-color:cyan;
  text-align:center;line-height:40px;border: 1px solid white;height:40px;
}
.col-xs-10{
  flex-basis:calc((100%/12)*10);
  background-color:cyan;
  text-align:center;line-height:40px;border: 1px solid white;height:40px;
}
.col-xs-11{
  flex-basis:calc((100%/12)*11);
  background-color:cyan;
  text-align:center;line-height:40px;border: 1px solid white;height:40px;
}
.col-xs-12{
  flex-basis:calc((100%/12)*12);
  background-color:cyan;
  text-align:center;line-height:40px;border: 1px solid white;height:40px;
}




/* OFFSET */
.offset-1{
  margin-left:calc(100%/12);
}
.offset-2{
  margin-left:calc((100%/12)*2);
}
.offset-3{
  margin-left:calc((100%/12)*3);
}
.offset-4{
  margin-left:calc((100%/12)*4);
}
.offset-5{
  margin-left:calc((100%/12)*5);
}
.offset-6{
  margin-left:calc((100%/12)*6);
}
.offset-7{
  margin-left:calc((100%/12)*7); 
}
.offset-8{
  margin-left:calc((100%/12)*8);
}
.offset-9{
  margin-left:calc((100%/12)*9);
}
.offset-10{
  margin-left:calc((100%/12)*10);
}
.offset-11{
  margin-left:calc((100%/12)*11);
}
.offset-12{
  margin-left:calc((100%/12)*12);
}

/* NIDIFICAZIONI */

.nesting-1{
  flex-basis:100%;
  background-color: yellow;
  text-align:center;
  line-height:40px;border: 1px solid cyan;height:40px;
}
.nesting-2{
  flex-basis:calc((100%/12)*2);
  background-color: yellow;
  text-align:center;line-height:40px;border: 1px solid cyan;height:40px;
}
.nesting-3{
  flex-basis:calc((100%/12)*3);
  background-color: yellow;
  text-align:center;line-height:40px;border: 1px solid cyan;height:40px;
}
.nesting-4{
  flex-basis:calc((100%/12)*4);
  background-color: yellow;
  text-align:center;line-height:40px;border: 1px solid cyan;height:40px;
}
.nesting-5{
  flex-basis:calc((100%/12)*5);
  background-color: yellow;
  text-align:center;line-height:40px;border: 1px solid cyan;height:40px;
}
.nesting-6{
  flex-basis:calc((100%/12)*6);
  background-color: yellow;
  text-align:center;line-height:40px;border: 1px solid cyan;height:40px;
}
.nesting-7{
  flex-basis:calc((100%/12)*7);
  background-color: yellow;
  text-align:center;line-height:40px;border: 1px solid cyan;height:40px;
}
.nesting-8{
  flex-basis:calc((100%/12)*8);
  background-color: yellow;
  text-align:center;line-height:40px;border: 1px solid cyan;height:40px;
}
.nesting-9{
  flex-basis:calc((100%/12)*9);
  background-color: yellow;
  text-align:center;line-height:40px;border: 1px solid cyan;height:40px;
}
.nesting-10{
  flex-basis:calc((100%/12)*10);
  background-color: yellow;
  text-align:center;line-height:40px;border: 1px solid cyan;height:40px;
}
.nesting-11{
  flex-basis:calc((100%/12)*11);
  background-color: yellow;
  text-align:center;line-height:40px;border: 1px solid cyan;height:40px;
}
.nesting-12{
  flex-basis:calc((100%/12)*12);
  background-color: yellow;
  text-align:center;line-height:40px;border: 1px solid cyan;height:40px;
}

/* RESPONSIVE */
@media screen and (max-width:500px){
  .row{
    width:450px;
    max-width: 100%;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    background-color:rgb(255, 255, 255);
  }

  .col-xs-1{
    width:100%;
    background-color:cyan;
    text-align:center;
    line-height:40px;border: 1px solid white;height:40px;
  }
  .col-xs-2{
    width:100%;
    background-color:cyan;
    text-align:center;line-height:40px;border: 1px solid white;height:40px;
  }
  .col-xs-3{
    width:100%;
    background-color:cyan;
    text-align:center;line-height:40px;border: 1px solid white;height:40px;
  }
  .col-xs-4{
    width:100%;
    background-color:cyan;
    text-align:center;line-height:40px;border: 1px solid white;height:40px;
  }
  .col-xs-5{
    width:100%;
    background-color:cyan;
    text-align:center;line-height:40px;border: 1px solid white;height:40px;
  }
  .col-xs-6{
    width:100%;
    background-color:cyan;
    text-align:center;line-height:40px;border: 1px solid white;height:40px;
  }
  .col-xs-7{
    width:100%;
    background-color:cyan;
    text-align:center;line-height:40px;border: 1px solid white;height:40px;
  }
  .col-xs-8{
    width:100%;
    background-color:cyan;
    text-align:center;line-height:40px;border: 1px solid white;height:40px;
  }
  .col-xs-9{
    width:100%;
    background-color:cyan;
    text-align:center;line-height:40px;border: 1px solid white;height:40px;
  }
  .col-xs-10{
    width:100%;
    background-color:cyan;
    text-align:center;line-height:40px;border: 1px solid white;height:40px;
  }
  .col-xs-11{
    width:100%;
    background-color:cyan;
    text-align:center;line-height:40px;border: 1px solid white;height:40px;
  }
  .col-xs-12{
    width:100%;
    background-color:cyan;
    text-align:center;line-height:40px;border: 1px solid white;height:40px;
  }


}
  