*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}
.box-nested{
  width:100%;
  background-color: cyan;
  padding: 10px;
  border: 1px solid white;
}
.nested{
  width:100%;
  height:40px;
  
  background-color:rgb(200, 255, 0);
  text-align:center;
  line-height:40px;
  border: 1px solid cyan;
  
}
.inside-col{
  width:100%;
  height:40px;
  background-color:cyan;
  text-align:center;
  line-height:40px;
  border: 1px solid white;
}